<div class="container text-white text-center" style="margin-top: 100px">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-3">MeMovies</h1>
      <p>
        Welcome to our movie tracking website! Here, you can easily keep track
        of all the movies you have watched and want to watch. Adding a movie to
        your list is as simple as searching for it by title and clicking "Add to
        list". You can then view your entire list of movies by visiting the "My
        Movies" page, where you can also filter your movies by genre to easily
        find what you're looking for. If you want to make any changes to a movie
        in your list, such as marking it as watched or updating its notes, you
        can do so by clicking on the movie and editing its details. If you
        decide you no longer want to keep a movie in your list, you can delete
        it with just a few clicks. With our website, keeping track of your movie
        journey and discovering new films has never been easier!
      </p>
      <p>
        <button
          class="btn btn-primary"
          routerLink="/movies"
          style="font-size: x-large; margin-top: 20px"
        >
          View Movies
        </button>
      </p>
    </div>
  </div>
</div>
