.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card-body {
  height: 135px;
}

.card-img-overlay {
  padding: 3px !important;
}

.setting-btn {
  float: right;
  font-size: 15px;
}
