<div
  class="modal fade"
  id="addEditMovieModal"
  tabindex="-1"
  aria-labelledby="addEditMovieModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h3 class="modal-title" id="addEditMovieModalLabel">Edit Movie</h3>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-2">
            <input type="hidden" id="id" [value]="movie?.id" />
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              id="title"
              placeholder="Title"
              [value]="movie?.title"
            />
          </div>
          <div class="mb-2">
            <label for="year" class="form-label">Year</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              id="year"
              placeholder="Year"
              [value]="movie?.year"
            />
          </div>
          <div class="mb-2">
            <label for="genre" class="form-label">Genre</label>
            <select
              class="form-select bg-dark text-white"
              aria-label="Genre Select"
              id="genre"
            >
              <option [selected]="movie">Select Genre</option>
              <option [selected]="movie?.genre === 'Action'">Action</option>
              <option [selected]="movie?.genre === 'Comedy'">Comedy</option>
              <option [selected]="movie?.genre === 'Drama'">Drama</option>
              <option [selected]="movie?.genre === 'Horror'">Horror</option>
            </select>
          </div>
          <div class="mb-2">
            <label for="director" class="form-label">Director</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              id="director"
              placeholder="Director"
              [value]="movie?.director"
            />
          </div>
          <div class="mb-2">
            <label for="poster" class="form-label">Poster</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              id="poster"
              placeholder="Poster image link"
              [value]="movie?.poster"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          *ngIf="movie"
          type="button"
          class="btn btn-primary"
          (click)="onEdit()"
        >
          Save changes
        </button>
        <button
          *ngIf="!movie"
          type="button"
          class="btn btn-primary"
          (click)="onAdd()"
        >
          Add Movie
        </button>
      </div>
    </div>
  </div>
</div>
