<div class="container">
  <div class="row">
    <div
      *ngFor="let movie of movies"
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3"
    >
      <app-movie-card
        [movie]="movie"
        (onSetSelectedMovie)="setSelectedMovie($event)"
        (onDeleteMovie)="deleteMovie($event)"
      ></app-movie-card>
    </div>
  </div>
</div>

<app-add-edit-movie
  [movie]="selectedMovie"
  (onEditMovieTrigger)="onEdit($event)"
  (onAddMovieTrigger)="onAdd($event)"
></app-add-edit-movie>

<button
  class="btn btn-success"
  type="submit"
  data-bs-toggle="modal"
  data-bs-target="#addEditMovieModal"
  style="
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 1000;
    font-size: large;
  "
  (click)="setSelectedMovie()"
>
  <i class="bi bi-plus"></i> Add Movie
</button>
